<html ng-app="contactApp">
<header>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src='angular.js'> </script>
    <script src='contact.js'> </script>
    <script src='appConfig.service.js'></script>
    <script src='appname.service.js'></script>
    <script src='contact.controller.js'></script>
    <script src='contact.header.js'></script>
    <script src='contactdata.service.js'></script>
    </header>

<body>
    <div ng-controller="headerContactCtrl as head">
        <h1>{{head.appname}}</h1>
    </div>
    <div class='container' ng-controller="contactCtrl as ctrl">
        <div class="row">
        <div class="col-md-6" <ul class="list-group">
            <li class="list-group-item" ng-repeat="con1 in ctrl.contactList" ng-click="ctrl.selectContact($index)">
                <span> {{con1.name.first+" "+con1.name.last}}</span>
            </li>
            </ul>
            <button ng-click="ctrl.addContacDetails()">Add</button>
        </div>
        <div class="col-md-6">
            <div class="alert alert-success" ng-if="ctrl.successMsg">{{ctrl.successMsg}}</div>
            <div class="alert alert-danger" ng-if="ctrl.errorMsg">{{ctrl.errorMsg}}</div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img ng-src="{{ctrl.selectedContact.picture.medium}}"></img>
                    </a>
                </div>
                <div class="media-body">
                    <button ng-hide="ctrl.editMode" ng-click="ctrl.editDetails()">EDIT</button>
                        <button ng-show="ctrl.editMode" ng-click="ctrl.saveDetails()">SAVE</button>
                    <p>
                        <span>First Name :</span>
                        <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.name.first}}</span>                        
                        <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.name.first"></input>
                    </p>
                    <p> 
                        <span>Last Name :</span>
                        <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.name.last}}</span>        
                        <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.name.last"></input>
                    </p> 
                    <div>
                        
                        <p>
                            <h6>Location</h6>
                        </p>
                        <p>
                            <span>Street: </span>
                            <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.location.street}}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.street"></input>
                        </p>
                        <p>
                            <span>City: </span>
                            <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.location.city}}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.city"></input>
                        </p>
                        <p>
                            <span>State: </span>
                            <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.location.state}}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.state"></input>
                        </p>
                        <p>
                            <span>Phone: </span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.cell"></input>
                            <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.cell}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--div ng-controller="footerContactCtrl as foot">
        <h3> {{foot.appname}} </h3>
    </div-->
</body>

</html>